@{
    ViewBag.Title = "Home Page";
}

<div class="Home-street">
    @if (!User.Identity.IsAuthenticated)
    {

        <div class="space"></div>
        <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-4">
                 <!--NorthPoint, an application that manages the fincancial & construction schedules for real estate assets.-->
             </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg button-width", @role = "button" })
        </div>
        <br />
        <div class="row">
             <div class="col-md-2"></div>
             @Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg button-width", @role = "button" })
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="small-space"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a class="btn btn-default btn-lg" href="/Author/Index">Property Protfolio</a>
            </div>
        </div>
        <div class="small-space"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a class="btn btn-default btn-lg" href="/Financial/Index">Investment Protfolio</a>
            </div>
        </div>
        <div class="small-space"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a class="btn btn-default btn-lg" href="/Construction/Index">Construction Schedule</a>
            </div>
        </div>
        <div class="small-space"></div>}
</div>
@if (!User.Identity.IsAuthenticated)
{

     <!--<div class="space"></div>
     <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-4">
             NorthPoint, an application that manages the fincancial & construction schedules for real estate assets.
         </div>
     </div>
     <br />
     <div class="row">
          <div class="col-md-2"></div>
          @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg button-width", @role = "button" })
     </div>
     <br />
     <div class="row">
         <div class="col-md-2"></div>
         @Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg button-width", @role = "button" })
     </div>-->
}